{% extends 'base.html.twig' %}
{% block title %}{{ titulo }}{% endblock %}
{% block body %}
<h1>{{ titulo }} </h1>
<a href="{{ path('categoria_adicionar') }}" class='btn btn-primary'>Adicionar Categoria</a>
<table class='table'>
    <thead>
        <tr>
            <td>#</td>
            <td>Descrição</td>
            <td>Ações</td>
        </tr>
    </thead>
    <tbody>
    {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.descricaocategoria }}</td>
            <td>
                <a href="#" class='btn btn-warning'>Editar</a>
                <a href="#" class='btn btn-danger'>Excluir</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}